// Rajdhani Font Family

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani/Rajdhani-Medium.eot');
    src: url('../fonts/Rajdhani/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rajdhani/Rajdhani-Medium.woff2') format('woff2'),
        url('../fonts/Rajdhani/Rajdhani-Medium.woff') format('woff'),
        url('../fonts/Rajdhani/Rajdhani-Medium.ttf') format('truetype'),
        url('../fonts/Rajdhani/Rajdhani-Medium.svg#Rajdhani-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani/Rajdhani-Bold.eot');
    src: url('../fonts/Rajdhani/Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rajdhani/Rajdhani-Bold.woff2') format('woff2'),
        url('../fonts/Rajdhani/Rajdhani-Bold.woff') format('woff'),
        url('../fonts/Rajdhani/Rajdhani-Bold.ttf') format('truetype'),
        url('../fonts/Rajdhani/Rajdhani-Bold.svg#Rajdhani-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani/Rajdhani-Light.eot');
    src: url('../fonts/Rajdhani/Rajdhani-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rajdhani/Rajdhani-Light.woff2') format('woff2'),
        url('../fonts/Rajdhani/Rajdhani-Light.woff') format('woff'),
        url('../fonts/Rajdhani/Rajdhani-Light.ttf') format('truetype'),
        url('../fonts/Rajdhani/Rajdhani-Light.svg#Rajdhani-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani/Rajdhani-Regular.eot');
    src: url('../fonts/Rajdhani/Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rajdhani/Rajdhani-Regular.woff2') format('woff2'),
        url('../fonts/Rajdhani/Rajdhani-Regular.woff') format('woff'),
        url('../fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype'),
        url('../fonts/Rajdhani/Rajdhani-Regular.svg#Rajdhani-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani/Rajdhani-SemiBold.eot');
    src: url('../fonts/Rajdhani/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rajdhani/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../fonts/Rajdhani/Rajdhani-SemiBold.woff') format('woff'),
        url('../fonts/Rajdhani/Rajdhani-SemiBold.ttf') format('truetype'),
        url('../fonts/Rajdhani/Rajdhani-SemiBold.svg#Rajdhani-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// Saira Font Family

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/Saira-Light.eot');
    src: url('../fonts/Saira/Saira-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira/Saira-Light.woff2') format('woff2'),
        url('../fonts/Saira/Saira-Light.woff') format('woff'),
        url('../fonts/Saira/Saira-Light.ttf') format('truetype'),
        url('../fonts/Saira/Saira-Light.svg#Saira-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/Saira-SemiBold.eot');
    src: url('../fonts/Saira/Saira-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira/Saira-SemiBold.woff2') format('woff2'),
        url('../fonts/Saira/Saira-SemiBold.woff') format('woff'),
        url('../fonts/Saira/Saira-SemiBold.ttf') format('truetype'),
        url('../fonts/Saira/Saira-SemiBold.svg#Saira-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/Saira-Regular.eot');
    src: url('../fonts/Saira/Saira-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira/Saira-Regular.woff2') format('woff2'),
        url('../fonts/Saira/Saira-Regular.woff') format('woff'),
        url('../fonts/Saira/Saira-Regular.ttf') format('truetype'),
        url('../fonts/Saira/Saira-Regular.svg#Saira-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/Saira-LightItalic.eot');
    src: url('../fonts/Saira/Saira-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira/Saira-LightItalic.woff2') format('woff2'),
        url('../fonts/Saira/Saira-LightItalic.woff') format('woff'),
        url('../fonts/Saira/Saira-LightItalic.ttf') format('truetype'),
        url('../fonts/Saira/Saira-LightItalic.svg#Saira-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/Saira-Italic.eot');
    src: url('../fonts/Saira/Saira-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira/Saira-Italic.woff2') format('woff2'),
        url('../fonts/Saira/Saira-Italic.woff') format('woff'),
        url('../fonts/Saira/Saira-Italic.ttf') format('truetype'),
        url('../fonts/Saira/Saira-Italic.svg#Saira-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/Saira-SemiBoldItalic.eot');
    src: url('../fonts/Saira/Saira-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira/Saira-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Saira/Saira-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Saira/Saira-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Saira/Saira-SemiBoldItalic.svg#Saira-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/Saira-Medium.eot');
    src: url('../fonts/Saira/Saira-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira/Saira-Medium.woff2') format('woff2'),
        url('../fonts/Saira/Saira-Medium.woff') format('woff'),
        url('../fonts/Saira/Saira-Medium.ttf') format('truetype'),
        url('../fonts/Saira/Saira-Medium.svg#Saira-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/Saira-MediumItalic.eot');
    src: url('../fonts/Saira/Saira-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira/Saira-MediumItalic.woff2') format('woff2'),
        url('../fonts/Saira/Saira-MediumItalic.woff') format('woff'),
        url('../fonts/Saira/Saira-MediumItalic.ttf') format('truetype'),
        url('../fonts/Saira/Saira-MediumItalic.svg#Saira-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

